[Unit]
Description=fan

[Service]
# Command to execute when the service is started
ExecStart=/usr/bin/python3 /usr/local/bin/fan.py
Restart=always
Type=simple
User=jabberwocky

[Install]
WantedBy=multi-user.target
