[Unit]
Description=fan

[Service]
# Command to execute when the service is started
Restart=always
Type=simple
User=jabberwocky
ExecStart=/usr/local/bin/fan.sh

[Install]
WantedBy=multi-user.target
