[Unit]
Description=oled

[Service]
# Command to execute when the service is started
Restart=always
Type=simple
ExecStart=/usr/local/bin/oled.sh
User=jabberwocky

[Install]
WantedBy=multi-user.target
